@import url('https://fonts.googleapis.com/css2?family=Benne&family=Cormorant+Garamond&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  font-weight: 400;

  background-color: #e4e4e4;
  color: #494949;
}

.pagActive {
  text-decoration: underline;
}